.ui-footer .copyright{
    text-align: left;
}
.log-list{
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #666;
}
.list-title{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1.1em;
}